<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @users.any? %>
      <h3><%= @title %> (<%= @users.count %>)</h3>
      <ol class="followings_followers">
        <% @users.each do |user| %>
          <li id="user-<%= user.id %>">
            <%= link_to gravatar_for(user, size: 50), user %>
            <span class="user"><%= link_to user.name, user %></span>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
