<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    <%# Posted                                            ago. %>
    <%= t(".posted_ago", time_ago_in_words: time_ago_in_words(micropost.created_at)) %>
    <% if current_user == micropost.user %>
      <%#         "delete"                              "You sure?" %>
      <%= link_to t(".delete"), micropost, method: :delete,
                                       data: { confirm: t(".you_sure") } %>
    <% end %>
    <%= render 'users/favorite_form', micropost: micropost %>
  </span>
</li>
